---
title: More White Space
---
<div class="container">

  <div class="headers header-top">
    <h1>Nolan</h1>
  </div>

  <div class="headers header-left">
    <h1>Marketti</h1>
  </div>
   <nav>
      <ul>
        <li class="nav-item"><a href="#">Clients<span class="underline"></a></li>
        <li class="nav-item"><a href="#">Thoughts<span class="underline"></a></li>
        <li class="nav-item"><a href="#">Contact<span class="underline"></a></li>
      </ul>
    </nav>
  <div class="center-content">
    <p>I’m a multi-disciplinary designer and developer who deeply believes white space, the grid, typography, storytelling,
      experiences, and a story my professor once told me about working at Starbucks</p>
    <p>I’m currently an Designer at Futureman Digital</p>
  </div>

  <div class="headers header-right">
    <h1>Morales</h1>
  </div>

  <div class="headers header-bottom">
    <h1>More White Space</h1>
  </div>
  <div class="social">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

</div>
