--- 
title: More White Space
---
<!-- The Container of Truth -->

<div class="container">

  <div class="headers header-top">
    <div class="top-slide-nav">
      <h1 class="first-name-top" id="section1">Nolan</h1>
      <h1 id="section2">Clients</h1>
      <h1 id="section3">Thoughts</h1>
      <h1 id="section4">Contact</h1>
    </div>
  </div>
  <div class="headers header-left">
    <div class="top-slide-nav">
      <h1 class="last-name-left" id="section1">Marketti</h1>
      <h1 id="section2">Clients</h1>
       <h1 id="section3">Thoughts</h1>
      <h1 id="section4">Contact</h1>
    </div>
  </div>
  <nav>
    <div class="menu-button">
      <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="menu-dropdown">
      <ul>
        <li class="nav-item" id="one">Profile<span class="underline"></span></li>
        <li class="nav-item" id="two">Clients<span class="underline"></span></li>
        <li class="nav-item" id="three">Thoughts<span class="underline"></span></li>
        <li class="nav-item" id="four">Contact<span class="underline"></span></li>
      </ul>
    </div>
  </nav>
  <div class="center-content">
    <p class="main-intro-text">I’m a multi-disciplinary designer and developer who deeply believes white space, the grid, typography, storytelling,
      experiences, and a story my professor once told me about working at Starbucks</p>
    <p class="currently-working">I’m currently a Senior Designer at <a href="https://www.futuremandigital.com">Futureman Digital</a></p>
  </div>

  <div class="headers header-right">
    <div class="top-slide-nav">
      <h1 class="last-name-right" id="section1">Morales</h1>
      <h1 class="clients" id="section2">Clients</h1>
      <h1 id="section2">Clients</h1>
      <h1 id="section3">Thoughts</h1>
      <h1 id="section4">Contact</h1>
    </div>
  </div>

  <div class="headers header-bottom">
  <!-- Click Me! -->
    <h1 class="site-name-bottom more-white-space"><span class="reveal">More</span> White Space</h1>
  </div>
  <div class="social">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

</div>
