--- 
title: More White Space

---
<!-- The Container of Truth -->

<div class="container">

  <div class="headers header-top">
    <h1 class="first-name-top">Nolan</h1>
  </div>

  <div class="headers header-left">
    <h1 class="last-name-left">Marketti</h1>
  </div>
  <nav>
    <div class="menu-button">
      <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="menu-dropdown">
      <ul>
        <li class="nav-item"><a href="#">Clients<span class="underline"></a></li>
        <li class="nav-item"><a href="#">Thoughts<span class="underline"></a></li>
        <li class="nav-item"><a href="#">Contact<span class="underline"></a></li>
      </ul>
    </div>
  </nav>
  <div class="center-content">
    <p class="main-intro-text">I’m a multi-disciplinary designer and developer who deeply believes white space, the grid, typography, storytelling,
      experiences, and a story my professor once told me about working at Starbucks</p>
    <p class="currently-working">I’m currently a Senior Designer at <a href="https://www.futuremandigital.com">Futureman Digital</a></p>
  </div>

  <div class="headers header-right">
    <h1 class="last-name-right">Morales</h1>
  </div>

  <div class="headers header-bottom">
    <h1 class="site-name-bottom">More White Space</h1>
  </div>
  <div class="social">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

</div>
