--- 
title: More White Space

---
<!-- The Container of Truth -->

<div class="container">

  <div class="headers header-top">
    <h1 class="first-name-top">Nolan</h1>
  </div>

  <div class="headers header-left">
    <h1 class="last-name-left">Marketti</h1>
  </div>

  <div class="center-content">
    <p class="main-intro-text">I’m a multi-disciplinary designer and developer who deeply believes white space, the grid, typography, storytelling,
      experiences, and a story my professor once told me about working at Starbucks.</p>
    <p class="currently-working">I’m currently a Senior Designer at <a href="http://www.futuremandigital.com">Futureman Digital.</a></p>
  </div>

  <div class="headers header-right">
    <h1 class="last-name-right">Morales</h1>
  </div>

  <div class="headers header-bottom">
  <!-- Click Me! -->
    <h1 class="site-name-bottom more-white-space"><span class="reveal">More</span> White Space</h1>
  </div>
  <div class="social">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

</div>
