--- 
title: More White Space
---
<!-- The Container of Truth -->
<div class="container">

  <div class="headers header-top">
    <div class="slide-in top">
      <div class="inner">
        <h1>Nolan</h1>
        <h1>Clients</h1>
        <h1>Thoughts</h1>
        <h1>Contact</h1>
      </div>
    </div>
  </div>
  <div class="headers header-left">
    <div class="slide-in left">
      <div class="inner">
        <h1>Marketti</h1>
        <h1>Clients</h1>
        <h1>Thoughts</h1>
        <h1>Contact</h1>
      </div>
    </div>
  </div>

  <nav>
    <div class="menu-button">
      <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="menu-dropdown">
      <ul>
        <li class="nav-item" id="one">Profile</li>
        <li class="nav-item" id="two">Clients</li>
        <li class="nav-item" id="three">Thoughts</li>
        <li class="nav-item" id="four">Contact</li>
      </ul>
    </div>
  </nav>
  <div class="center-content">
    <p id="content01" class="content main-intro-text">I’m a multi-disciplinary designer and developer who deeply believes white space, the grid, typography, storytelling,
      experiences, and a story my professor once told me about working at Starbucks. I’m currently an Art Director at <a href="https://www.futuremandigital.com">Futureman Digital</a></p>
    <p id="content02" class="content clients-text">I've worked with both big brands, and small business owners. Some notable brands I've had the priveledge to work with includes FOX, United Nations Foundation, Samsung, Clinton Health Access Iniative, ATT, and Feeding America. </p>
    <p id="content03" class="content thoughts-text">My latest post, "Design Trends are like Cupcake Decorations", explores how many designers pigenonhole themselves into being trendy, where as strategy has been and always will bet he most important aspect of design. <a href="https://blog.prototypr.io/design-trends-are-like-cupcake-decorations-45d73808eb0b">Read Here.</a></p>
    <p id="content04" class="content contact-text">Want to chat about design? If you like good design and want to chat, give me a shout at  <a href="mailto:nmarketti@gmail.com?Subject=I Love White Space">nmarketti@gmail.com</a></p>
  
  </div>

  <div class="headers header-right">
    <div class="slide-in right">
      <div class="inner">
        <h1>Morales</h1>
        <h1>Clients</h1>
        <h1>Thoughts</h1>
        <h1>Contact</h1>
      </div>
    </div>
  </div>
  <div class="headers header-bottom">
    <!-- Click Me! -->
    <div class="slide-in-bottom bottom">
      <div class="inner">
        <h1 class="site-name-bottom more-white-space">More White Space</h1>
        <h1 class="site-name-bottom more-white-space">Seriously More White Space</h1>
        <h1 class="site-name-bottom more-white-space">I want to see White Space</h1>
        <h1 class="site-name-bottom more-white-space">Show me White Space</h1>
      </div>
    </div>
    <div class="social">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
